/* =Size Text
-----------------------------------------------------------------------------*/
/* =Size h1
-----------------------------------------------------------------------------*/
/* = Size Breakpoints
-----------------------------------------------------------------------------*/
h1 {
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/ }
  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 20px; } }
  @media only screen and (min-width: 0) and (max-width: 768px) {
    h1 {
      font-size: 24px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
      font-size: 28px; } }
  @media only screen and (min-width: 1200px) {
    h1 {
      font-size: 38px; } }
  @media only screen and (min-width: 1600px) {
    h1 {
      font-size: 48px; } }

.header {
  width: 100%;
  position: relative;
  padding-top: 3%;
  padding-bottom: 3%; }

.section {
  width: 100%;
  position: relative; }

.section__mobile {
  display: none;
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/ }
  @media only screen and (min-width: 0) and (max-width: 768px) {
    .section__mobile {
      display: block; } }

.section__laptop {
  display: none;
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/ }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section__laptop {
      display: block; } }

.section__desktop {
  display: none;
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/ }
  @media only screen and (min-width: 1200px) {
    .section__desktop {
      display: block; } }

.section__full {
  display: none;
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/ }
  @media only screen and (min-width: 1600px) {
    .section__full {
      display: block; } }

.section__grid {
  width: 1px;
  height: 100vh;
  top: 0;
  left: 10%;
  position: relative;
  background-color: black; }
