/* =Size Text
-----------------------------------------------------------------------------*/
/* =Size h1
-----------------------------------------------------------------------------*/
/* =Grid
-----------------------------------------------------------------------------*/
/* = Size Breakpoints
-----------------------------------------------------------------------------*/
h1 {
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/
  /* =Mobile small
	-----------------------------------------------------------------------------*/
  /* =SmarthPhone
	-----------------------------------------------------------------------------*/
  /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
  /* =Desktops
	-----------------------------------------------------------------------------*/
  /* =Full Screens
	-----------------------------------------------------------------------------*/ }
  @media only screen and (min-width: 480px) {
    h1 {
      font-size: 20px; } }
  @media (min-width: 576px) {
    h1 {
      font-size: 24px; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 28px; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 38px; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 48px; } }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .row.gutters {
    margin-left: -2%; }

.col-1 {
  width: calc(8.33333% - 2%);
  margin-left: 2%; }

.col-2 {
  width: calc(16.66667% - 2%);
  margin-left: 2%; }

.col-3 {
  width: calc(25% - 2%);
  margin-left: 2%; }

.col-4 {
  width: calc(33.33333% - 2%);
  margin-left: 2%; }

.col-5 {
  width: calc(41.66667% - 2%);
  margin-left: 2%; }

.col-6 {
  width: calc(50% - 2%);
  margin-left: 2%; }

.col-7 {
  width: calc(58.33333% - 2%);
  margin-left: 2%; }

.col-8 {
  width: calc(66.66667% - 2%);
  margin-left: 2%; }

.col-9 {
  width: calc(75% - 2%);
  margin-left: 2%; }

.col-10 {
  width: calc(83.33333% - 2%);
  margin-left: 2%; }

.col-11 {
  width: calc(91.66667% - 2%);
  margin-left: 2%; }

.col-12 {
  width: calc(100% - 2%);
  margin-left: 2%; }

body {
  margin: 0;
  background-color: #ffffff; }

header {
  width: 100%;
  position: relative;
  text-align: center; }
  header h1 {
    font-size: 1em;
    /* =Mobile small
	-----------------------------------------------------------------------------*/
    /* =SmarthPhone
	-----------------------------------------------------------------------------*/
    /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
    /* =Desktops
	-----------------------------------------------------------------------------*/
    /* =Full Screens
	-----------------------------------------------------------------------------*/
    /* =Mobile small
	-----------------------------------------------------------------------------*/
    /* =SmarthPhone
	-----------------------------------------------------------------------------*/
    /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
    /* =Desktops
	-----------------------------------------------------------------------------*/
    /* =Full Screens
	-----------------------------------------------------------------------------*/
    /* =Mobile small
	-----------------------------------------------------------------------------*/
    /* =SmarthPhone
	-----------------------------------------------------------------------------*/
    /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
    /* =Desktops
	-----------------------------------------------------------------------------*/
    /* =Full Screens
	-----------------------------------------------------------------------------*/
    /* =Mobile small
	-----------------------------------------------------------------------------*/
    /* =SmarthPhone
	-----------------------------------------------------------------------------*/
    /* =Laptops and Tablets
	-----------------------------------------------------------------------------*/
    /* =Desktops
	-----------------------------------------------------------------------------*/
    /* =Full Screens
	-----------------------------------------------------------------------------*/ }
    @media (min-width: 576px) {
      header h1 {
        color: green;
        font-size: 2em; } }
    @media (min-width: 768px) {
      header h1 {
        color: blue;
        font-size: 2.5em; } }
    @media (min-width: 992px) {
      header h1 {
        color: red;
        font-size: 3em; } }
    @media (min-width: 1200px) {
      header h1 {
        color: cyan;
        font-size: 3.5em; } }

section {
  width: 100%;
  position: relative; }

.container-grid {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .container-grid:before {
    content: '1200px';
    top: 0;
    left: 50%;
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    color: rgba(0, 0, 0, 0.1);
    font-size: 1em; }
  .container-grid:after {
    content: '';
    top: 0;
    position: absolute; }

.grid__line {
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: relative;
  background-color: #d8e9fa; }

.view__start {
  width: 1px;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1); }
  .view__start:before {
    content: '0px';
    top: 0;
    left: 0;
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    color: rgba(0, 0, 0, 0.1);
    font-size: 1em; }

.view__end {
  width: 1px;
  height: 100vh;
  top: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1); }
  .view__end:before {
    content: '1920px';
    top: 0;
    right: 0;
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    color: rgba(0, 0, 0, 0.1);
    font-size: 1em; }
