body{
	margin: 0;
	background-color: #ffffff;
}

header{
	width: 100%;
	position: relative;
	text-align: center;
	h1{
		font-size: 1em;
		@include media(small){
			color: green;
			font-size: 2em;
		}
		@include media(medium){
			color: blue;
			font-size: 2.5em;
		}
		@include media(large){
			color: red;
			font-size: 3em;
		}
		@include media(full){
			color: cyan;
			font-size: 3.5em;
		}
	}
}

section{
	width: 100%;
	position: relative;
}

.container-grid{
	width: 100%;
	margin: 0 auto;
	position: relative;
	max-width: 1200px;
	background-color: #f8f8f8;
	border: 1px solid rgba(0, 0, 0, 0.10);
	&:before{
		content: '1200px';
		top: 0;
		left:  50%;
		position: absolute;
		font-family: 'Roboto Mono', monospace;
		color: rgba(0, 0, 0, 0.10);
		font-size: 1em;
	}
	&:after{
		content: '';
		top: 0;
		position: absolute;
	}
}

.grid__line{
	width: 100%;
	height: 100vh;
	opacity: 0;
	position: relative;
	background-color: #d8e9fa;
}

.view__start{
	width: 1px;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.10);
	&:before{
		content: '0px';
		top: 0;
		left: 0;
		position: absolute;
		font-family: 'Roboto Mono', monospace;
		color: rgba(0, 0, 0, 0.10);
		font-size: 1em;
	}
}

.view__end{
	width: 1px;
	height: 100vh;
	top: 0;
	right: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.10);
	&:before{
		content: '1920px';
		top: 0;
		right: 0;
		position: absolute;
		font-family: 'Roboto Mono', monospace;
		color: rgba(0, 0, 0, 0.10);
		font-size: 1em;
	}
}