.row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	&.gutters{
		margin-left: - $grid-gutter;
	}
}

@for $i from 1 through $grid-columns {
	.col-#{$i} {
		$width: 100% / $grid-columns * $i;
		width: calc(#{$width} - #{$grid-gutter});
		margin-left: $grid-gutter;
	}
}
