/* = Colors
-----------------------------------------------------------------------------*/
$color-primary:			#FFEB3B;
$color-primary-light:		#FFF9C4;
$color-primary-dark:		#FBC02D;
$color-secundary:			#448AFF;

$color-text:				#212121;
 $color-text-light:			#757575;
$color-text-black:			#111111;

$color-divider:				#BDBDBD;
$color-accent:				#F8F8F8;


/* = Size Breakpoints
-----------------------------------------------------------------------------*/
$screen-xs:				576px  !default;		// -> Extra small (Phone)
$screen-sm:			768px  !default;		// -> Small  (Smartphone)
$screen-md:			1024px  !default;		// -> Medium (Laptop and tablets)
$screen-lg:				1440px  !default;		// -> Large (Desktops PC)
$screen-full:			1600px  !default;		// -> Full (Device full HD)

