/* = Colors
-----------------------------------------------------------------------------*/
$color-primary:			#FFEB3B;
$color-primary-light:		#FFF9C4;
$color-primary-dark:		#FBC02D;
$color-secundary:			#448AFF;

$color-text:				#212121;
 $color-text-light:			#757575;
$color-text-black:			#111111;

$color-divider:				#cccccc;
$color-accent:				#f7f7f7;

